html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Noto Sans", "Noto Sans KR", sans-serif, "Malgun Gothic", Arial;
    margin: 0;
    display: flex;
}

code,
pre {
    font-family: 'D2Coding', 'Courier New', Courier, monospace;
}

#sidebar {
    width: 1.5em;
    height: 100vh;
    background: #f4f4f4;
    padding: 15px;
    position: fixed;
    overflow-y: auto;
}

#sidebar.wide {
    width: 7em;
}

#sidebar button#show-menu {
    display: none;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

#main-content {
    max-height: calc(100vh - 2em);
    height: 100%;
    flex-grow: 1;
    padding: 1em;
    margin: 0 0 0 8.5em;
    transition: margin-left 0.3s;
}

#main-content.wide {
    margin-left: 3em;
}

#topic-list-view,
#paper-list-view {
    height: 100%;
    display: none;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table#topic-list-table tr:hover,
table#paper-list-table tr:hover,
table#search-results-table tr:hover {
    background-color: lightgoldenrodyellow;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.topic-name,
.paper-title {
    color: dodgerblue;
    cursor: pointer;
}

#search-paper-form {
    margin-top: 1em;
}

#paper-detail-view {
    height: 100%;
}

#paper-detail-info-table {
    height: 100%;
    margin: 0;
}

#paper-detail-view td {
    vertical-align: top;
}

#paper-detail-info-table th {
    white-space: nowrap;
    width: 1px;
}

#show-abstract {
    display: none;
}

#summary-content {
    height: 100%;
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box;
}

#summary-content ul,
#summary-content ol {
    padding-left: 1.5em;
}

#topic-list-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding-top: 1em;
}

.topic-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.3em 0.5em;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topic-card:hover {
    background-color: lightgoldenrodyellow;
}

.topic-actions {
    margin-top: 0.2em;
    display: flex;
    justify-content: space-around;
}

.card-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
    color: #337ab7;
}

.card-button:hover {
    color: #23527c;
}